.developerTeamContainer {
  width: 60%;
  position: relative;
}
.innovationContainer {
  width: 40%;

  margin-top: 90px;
}

.text {
  color: #ffc700;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 57px; /* 101.786% */
  letter-spacing: -2.24px;
  margin: 0;
}
.creatFuture {
  color: #ffc700;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pinkText {
  color: #e3007b;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.blackButtonContainer {
  padding: 10px 20px;
  display: inline;
  position: absolute;
  right: 0;
}

.blueContainerimage {
  right: 0;
  display: inline;
  position: absolute;
  top: 0px;
  padding: 10px;
}

.bluePinkContainer{
  flex-wrap: nowrap;
}

.plusContainer {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 5%;
}

.blueContainer {
  width: 70%;
  position: relative;
}
.pinkContainer {
  width: 30%;
  position: relative;
}
.cardGap {
  gap: 100px;
}
@media screen and (max-width: 900px) {
  .developerTeamContainer {
    width: 100%;
  }
  .innovationContainer {
    width: 100%;
    margin-top: 10px;
  }
  .blueContainer {
    width: 60%;
  }
  .pinkContainer {
    width: 40%;
  }
  .wl {
    width: 100%;
  }
  .wr {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .developerTeamContainer {
    width: 100%;
  }

  .blueContainer {
    width: 100%;
  }
  .pinkContainer {
    width: 100%;
  }
  .cardGap {
    gap: 20px;
  }
  .bluePinkContainer{
    flex-wrap: wrap;
  }
}
